Django~=1.11.21
daemonize~=2.5.0
cx-Oracle~=6.4.1
django-tastypie~=0.14.2
gridproxy==0.2
pyAMI-core==5.0.7
pyAMI-atlas==5.0.7
pycurl~=7.43.0.2
requests~=2.19.1
rucio-clients~=1.18.1
rucio-clients-atlas~=0.0.6
stomp.py~=4.1.22
m2crypto~=0.31.0